/**
 *
 * Customizes the display of the color swatches when adding/editing photos.
 *
 **/


div.palette0,
div.suggest0
{
    clear: both;
}

/* Hide the labels of each color swatch */
div.palette0 div label,
div.palette1 div label,
div.palette2 div label,
div.palette3 div label,
div.palette4 div label,
div.palette5 div label,
div.palette6 div label,
div.palette7 div label,
div.suggest0 div label,
div.suggest1 div label,
div.suggest2 div label,
div.suggest3 div label,
div.suggest4 div label,
div.suggest5 div label,
div.suggest6 div label,
div.suggest7 div label
{ 
    display: none;
}

div.palette0,
div.palette1,
div.palette2,
div.palette3,
div.palette4,
div.palette5,
div.palette6,
div.palette7,
div.suggest0,
div.suggest1,
div.suggest2,
div.suggest3,
div.suggest4,
div.suggest5,
div.suggest6,
div.suggest7
{
    display: inline;
    float: left;
    margin: 1px;
    padding: 0;
}

#photo, #photo:active {
    cursor: url(../cursors/10.cur), crosshair;
}
