
/* File: print.css */

body { 
    font-family: TerminusMedium, LucidaConsole, Monaco, monospace; 
    font-size: 12pt;
}

a {
    color: #{{ title_color }};
}
a:hover {
    color: #{{ title_color }};
}
a:active {
    color: #{{ title_color }};
}

.controls {
}
.controls a {
    text-decoration: none;
    color: #{{ text_color }};
}
.controls a:hover {
    text-shadow: 0px 0px 14px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 1.0 );
}
.controls .back,
.controls .next {
    font-size: 6em;
}

#torso {
}

#foot {
}
#foot #nav a {
    font-family: AmigaForever, Fixedsys,  monospace;
}

#bottom_bar {
    color: #{{ text_color }};
}
#learn {
}

@font-face { font-family: "AmigaForever"; src: url("/site_media/fonts/amiga4ever.ttf"); }
@font-face { font-family: "TerminusBold"; src: url("/site_media/fonts/TerminusBold.ttf"); }
@font-face { font-family: "TerminusMedium"; src: url("/site_media/fonts/TerminusMedium.ttf"); }
@font-face { font-family: "TerminusMediumItalic"; src: url("/site_media/fonts/TerminusMediumItalic.ttf"); }
@font-face { font-family: "Prociono"; src: url("/site_media/fonts/ProcionoTT.ttf"); }

/* EOF: print.css */

