div#cincture {
  width: 706px;
}

/*
div#image div#stroke_tl {
  background: url( hands_tl.png ) no-repeat top left;
}
*/
div#image div#stroke_tr {
  background: url( hands_tr.png ) no-repeat top right;
}

div#image {
}
blockquote#quotation {
  color: #bbb;
}
div#image img {
  border: 1px solid #3C3C3C;
  padding: 2px;
}

/********************
 * Image navigation *
 ********************/

div#nav {
  color: #fff;
}
