
<div id="foot" class="container_12">
    <div class="grid_4">
        <p><a href="/">clayto.com</a> is the personal photography website of mwc.  </p>
    </div>
    <div class="grid_4">
        photographs: <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a> 
    </div>
    <div class="grid_4">
        code: <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL 3.0</a> 
    </div>

    <div id="copy_bar" class="grid_12">
        <a href="http://en.wikipedia.org/wiki/Linux"> 
            <img src="/site_media/images/tux.png" /> </a>
        <a href="http://python.org/"> 
            <img src="/site_media/images/py.png" /> </a>
        <a href="http://www.djangoproject.com/"> 
            <img src="/site_media/images/dj.png" /> </a>
        <a href="http://diveintohtml5.org/introduction.html"> 
            <img src="/site_media/images/html5.png" /> </a>
        <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets"> 
            <img src="/site_media/images/css3.png" /> </a>
        <a href="http://jquery.com/"> 
            <img src="/site_media/images/jq.png" /> </a>
        <a href="http://linuxmint.com/"> 
            <img src="/site_media/images/lm.png" /> </a>
    </div> <!-- /#copy_bar -->

</div> <!-- /#foot -->
