{% extends "layout.html" %}

{% block torso %}
    <img class="grid_9 photo" src="/site_media/{{ new_photo.image }}" alt="{{ photo_title }}" />

    <div class="controls">

        {% if has_prev %}
        <span class="back" title="Previous">
            <a href="/photo/{{ prev_num }}">-</a>
        </span>
        {% endif %}

        <span class="all" title="All Photos">
            <a href="/photos/">*</a>
        </span>

        {% if has_next %}
        <span class="next" title="Next">
            <a href="/photo/{{ next_num }}">+</a>
        </span>
        {% endif %}

    </div> <!-- /.controls -->

    <div class="post">
    {% autoescape off %}
    {{ text }}
    {% endautoescape %}
    </div> <!-- /.post -->

{% endblock torso %}
