<!DOCTYPE html>

<html>
<head>

    {% block title %}
    <title>{{ project_title }}</title>
    {% endblock title %}

<link rel="stylesheet" href="/site_media/css/960.css" />
<link rel="stylesheet" href="/site_media/3rd/sh/styles/shCore.css" />
<link rel="stylesheet" href="/site_media/3rd/sh/styles/shThemeRDark.css" />

<style type="text/css">
{% include "reset.css" %}
{% include "print.css" %}
{% include "site.css" %}
{% include "photos.css" %}
</style>

</head>

<body>

<div id="head" class="container_12">

{% include "head.html" %}


</div>

<div class="clear"></div>

<div id="torso">

{% block torso %}
{% endblock torso %}

</div> <!-- /#torso -->

{% include "foot.html" %}

</body>

</html>
