{% extends "photo.html" %}

{% block title %}
    <title>{{ project_title }} learn about the site</title>
{% endblock title %}

{% block torso %}

<div id="learn" class="container_12">

    <p>
        clayto.com is the personal photography website of Michael Clayton.
    </p>



    <div id="debts">
        <p>a huge debt of gratitude is owed to these projects:</p>
        <a href="http://en.wikipedia.org/wiki/Linux"> 
            <img src="/site_media/images/icons/tux.png" /></a>
        <a href="http://linuxmint.com/"> 
            <img src="/site_media/images/icons/lm.png" /></a>
        <a href="http://python.org/"> 
            <img src="/site_media/images/icons/py.png" /></a>
        <a href="http://www.djangoproject.com/"> 
            <img src="/site_media/images/icons/dj.png" /></a>
        <a href="http://jquery.com/"> 
            <img src="/site_media/images/icons/jq.png" /></a>
        <a href="http://diveintohtml5.org/introduction.html"> 
            <img src="/site_media/images/icons/html5.png" /></a>
        <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets"> 
            <img style="vertical-align: top;" src="/site_media/images/icons/css3.png" /></a>
    </div> <!-- /#debts -->

    <p>
        Some of the code used on this site is from open-source projects under their own licenses.  Unless otherwise noted, the code is written by me and is licensed under the <a href="http://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a>.
    <p>

    <br />

    <p>
        All the photographs posted on this site are Copyright me and licensed under the Creative Commons <a title="Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">BY-NC-SA 3.0</a>.
    </p>

</div>


{% endblock torso %}
