<!DOCTYPE html>

<html>
<head>
<title>CLAYTO.ORG</title>

<style type="text/css">
{% include "/test.css" %}
</style>

</head>

<body>


<!--
<style type="text/css">
    body { background: {{ bg_color }} }
</style>
-->

<h1 style="color: {{ palette1 }};">
    {{ photo_name }}
</h1>

<img  src="{{ photo_file }}" />

<div style="border: 1px solid black; height: 55px; width: 330px; padding: 1px; background: #000">
<span style="height: 55px; width: 55px; float: left; background-color: {{ palette0 }}; clear: both;"></span>
<span style="height: 55px; width: 55px; float: left; background-color: {{ palette1 }};"></span>
<span style="height: 55px; width: 55px; float: left; background-color: {{ palette2 }};"></span>
<span style="height: 55px; width: 55px; float: left; background-color: {{ palette3 }};"></span>
<span style="height: 55px; width: 55px; float: left; background-color: {{ palette4 }};"></span>
<span style="height: 55px; width: 55px; float: left; background-color: {{ palette5 }};"></span>
</div>

</body>

</html>
