
{% extends "layout.html" %}

{% block title %}
    <title>{{ project_title }} photos {{ photoset.start_index }} through {{ photoset.end_index }}</title>
{% endblock title %}

{% block torso %}

    <div class="controls">

        {% if has_prev %}
        <span class="back" title="Previous">
            <a rel="prev" href="/photos/{{ prev_num }}">&#x21b2;</a>
        </span>
        {% endif %}

        {% if has_next %}
        <span class="next" title="Next">
            <a rel="next" href="/photos/{{ next_num }}">&#x21b1;</a>
        </span>
        {% endif %}

    </div> <!-- /.controls -->

    <div id="gallery" class="container_12">

    <div style="">{{ a.b }}</div>

    {% for photo in photoset.object_list %}

    <a class="photo_thumbnail_link grid_3" id="photo_thumbnail_link{{ photoset.start_index|add:forloop.counter0 }}" href="/photo/{{ photoset.start_index|add:forloop.counter0 }}">

        <img
            class = "photo_thumbnail"
               id = "photo_thumbnail{{ photoset.start_index|add:forloop.counter0 }}" {# calculates the page number of each photo  #}
              src = "/site_media/{{ photo.image }}"
              alt = "{{ photo.title }}" />

    </a>

    {% endfor %}

    <div class="clear"></div>

    </div> <!-- /#gallery -->

    <div class="clear"></div>



{% endblock torso %}
