
{% extends "layout.html" %}

{% block title %}
    <title>{{ project_title }} photos {{ photoset.start_index }} through {{ photoset.end_index }}</title>
{% endblock title %}

{% block torso %}

    <div class="controls">
        {% if has_prev %}
        <span class="back" title="Previous">
            <a href="/photos/{{ prev_num }}">-</a>
        </span>
        {% endif %}

        {% if has_next %}
        <span class="next" title="Next">
            <a href="/photos/{{ next_num }}">+</a>
        </span>
        {% endif %}
    </div> <!-- /.controls -->

    <div class="container_12">

    {% for photo in photoset.object_list %}

    <a class="photo_thumbnail_link" id="photo_thumbnail_link{{ photoset.start_index|add:forloop.counter0 }}" href="/photo/{{ photoset.start_index|add:forloop.counter0 }}">

        <img
            class = "photo_thumbnail"
               id = "photo_thumbnail{{ photoset.start_index|add:forloop.counter0 }}" {# calculates the page number of each photo  #}
              src = "/site_media/{{ photo.image }}"
              alt = "{{ photo.title }}" />

    </a>

    {% endfor %}

    </div> <!-- /.container_12 -->

    <div class="clear"></div>



{% endblock torso %}
