{% extends "layout.html" %}

{% block title %}
    <title>{{ project_title }} {% if this_photo %}"{{ this_photo.title }}"{% endif %}</title>
{% endblock title %}

{% block torso %}

    {% block controls %}
    <div class="controls">

        {% if prev_photo %}
        <span class="back" title="Previous">
            <a rel="prev" href="/photo/{{ prev_photo.slug }}">&#x21b2;</a>
        </span>
        {% endif %}

        {% if next_photo %}
        <span class="next" title="Next">
            <a rel="next" href="/photo/{{ next_photo.slug }}">&#x21b1;</a>
        </span>
        {% endif %}

    </div> <!-- /.controls -->
    {% endblock controls %}

    {% block photo %}
    <img class="photo thumbnail" width="{{ this_photo.image.width }}" height="{{ this_photo.image.height }}" src="/site_media/{{ this_photo.image }}" alt="{{ this_photo.title }}" />
    {% endblock photo %}

{% endblock torso %}
