
/* FILE: photos.css */

a.photo_thumbnail_link {
    height: 146px;
    overflow: hidden;
    -webkit-box-shadow: 0px 4px 15px #{{ shadow_color }};
       -moz-box-shadow: 0px 4px 15px #{{ shadow_color }};
         -o-box-shadow: 0px 4px 15px #{{ shadow_color }};
            box-shadow: 0px 4px 15px #{{ shadow_color }};
    -webkit-transition: -webkit-box-shadow 0.1s ease;
       -moz-transition:    -moz-box-shadow 0.1s ease;
         -o-transition:      -o-box-shadow 0.1s ease;
            transition:         box-shadow 0.1s ease;
}
a.photo_thumbnail_link:hover {
    -webkit-box-shadow: 0px 4px 25px #{{ shadow_color }};
       -moz-box-shadow: 0px 4px 25px #{{ shadow_color }};
         -o-box-shadow: 0px 4px 25px #{{ shadow_color }};
            box-shadow: 0px 4px 25px #{{ shadow_color }};
}
img.photo_thumbnail {
    width: 220px;
    min-height: 146px; /* make sure thumbnails are at least 146px tall, otherwise there will be empty space inside the <a>'s border */
}
{% for photo in photoset.object_list %}
#photo_thumbnail_link_{{ photo.permalink }} { border: 1px solid #{{ photo.palette3 }}; } {% endfor %}

#photos_scrollbar {
    margin-top : 1.9em;
    font-size  : 0.8em;
    overflow   : hidden;
}
#photos_scrollbar span {
    height: 4px;
    background-color: grey;
    padding: 5px solid grey;
    float: left;
    position: relative;
    left: {{scrollbar_initial}}px;
    width: {{scrollbar_page_width}}px;
}

/* EOF: photos.css */
