{% extends "layout.html" %}

{% block title %}
    <title>[{{ project_title }}]{% if photo_title %} {{ photo_title }}{% endif %}</title>
{% endblock title %}

{% block torso %}

    <div class="controls">

        {% if has_prev %}
        <span class="back" title="Previous">
            <a href="/photo/{{ prev_num }}">&#x21b2;</a>
        </span>
        {% endif %}

        <span class="all" title="All Photos">
            <a href="/photos/">*</a>
        </span>

        {% if has_next %}
        <span class="next" title="Next">
            <a href="/photo/{{ next_num }}">&#x21b1;</a>
        </span>
        {% endif %}

    </div> <!-- /.controls -->

    <img class="photo thumbnail" src="/site_media/{{ new_photo.image }}" alt="{{ photo_title }}" />

    <div class="post">
    {% autoescape off %}
    {{ text }}
    {% endautoescape %}
    </div> <!-- /.post -->

{% endblock torso %}
