
/* File: print.css */

body { 
    font-family: TerminusMedium, Consolas, FreeSansMono, sans-serif; 
}

h1 { 
    font-family: AmigaForever;
    font-size: 4em;
    font-weight: normal;
}
h1 .z {
    letter-spacing: -0.51em;
}
h1 .i {
    letter-spacing: -0.4em;
}
h1 .p {
    letter-spacing: -0.25em;
}
h1 a { 
    text-decoration: none;
    color: #{{ title_color }};
}
/*
h1 .c {
    letter-spacing: -0.57em;
}
h1 .l {
    letter-spacing: -0.38em;
}
h1 .a {
    letter-spacing: -0.19em;
}
h1 .y {
    letter-spacing: -0.25em;
}
h1 .t {
    letter-spacing: -0.38em;
}
*/

a {
    -webkit-transition: text-shadow 0.18s ease;
       -moz-transition: text-shadow 0.18s ease;
         -o-transition: text-shadow 0.18s ease;
            transition: text-shadow 0.18s ease;
}
a:hover {
    text-shadow: 0px -3px 14px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.3 );
}

.controls {
    font-family: AmigaForever;
}
.controls a {
    text-decoration: none;
    color: #{{ text_color }};
}
.controls .back {
    font-size: 4em;
}
.controls .all {
    font-size: 4em;
}
.controls .next {
    font-size: 4em;
}

@font-face { font-family: "AmigaForever"; src: url("/site_media/fonts/amiga4ever.ttf"); }
@font-face { font-family: "TerminusBold"; src: url("/site_media/fonts/TerminusBold.ttf"); }
@font-face { font-family: "TerminusMedium"; src: url("/site_media/fonts/TerminusMedium.ttf"); }
@font-face { font-family: "TerminusMediumItalic"; src: url("/site_media/fonts/TerminusMediumItalic.ttf"); }

/* EOF: print.css */

