
/* File: print.css */

body { 
    font-family: TerminusMedium, Consolas, FreeSansMono, monospace; 
}

a {
    color: #{{ title_color }};
    opacity: 0.8;
}
a:hover {
    color: #{{ title_color }};
    opacity: 1.0;
}
a:active {
    color: #{{ title_color }};
}

h1 { 
    font-family: Prociono;
    font-size: 4em;
    font-weight: normal;
}
h1 a { 
    text-decoration: none;
    color: #fff;
}

.controls {
    font-family: AmigaForever;
}
.controls a {
    text-decoration: none;
    color: #{{ text_color }};
}
.controls a:hover {
    text-shadow: 0px 0px 14px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7 );
    opacity: 0.10;
}
.controls a:active {
    opacity: 0.2; /* doesn't work */
}
.controls .back {
    font-size: 10em;
}
.controls .all {
    font-size: 4em;
}
.controls .next {
    font-size: 10em;
}

#foot {
    font-family: AmigaForever, Consolas, FreeSansMono, monospace; 
    font-family: Prociono, Consolas, FreeSansMono, monospace; 
}

@font-face { font-family: "AmigaForever"; src: url("/site_media/fonts/amiga4ever.ttf"); }
@font-face { font-family: "TerminusBold"; src: url("/site_media/fonts/TerminusBold.ttf"); }
@font-face { font-family: "TerminusMedium"; src: url("/site_media/fonts/TerminusMedium.ttf"); }
@font-face { font-family: "TerminusMediumItalic"; src: url("/site_media/fonts/TerminusMediumItalic.ttf"); }
@font-face { font-family: "Prociono"; src: url("/site_media/fonts/ProcionoTT.ttf"); }

/* EOF: print.css */

