
/* File: site.css */

body { 
    background-color: #{{ bg_color }};
    color: #{{ text_color }};
}

h1 {
    text-align: center;
    margin: 0.2em 0;
    color: #{{ title_color }};
}

img.photo {
    position: relative;
    z-index: 100;
    background-color: #000;
    display: block;
    margin: -3px auto;
    border: 1px solid #{{ border_color }};      
    -webkit-box-shadow: 0px -5px 20px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7),
                        0px  5px 40px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7);
       -moz-box-shadow: 0px -5px 20px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7),
                        0px  5px 40px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7);
         -o-box-shadow: 0px -5px 20px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7),
                        0px  5px 40px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7);
            box-shadow: 0px -5px 20px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7),
                        0px  5px 40px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7);
}

a.photo_thumbnail_link {
    height: 146px;
    overflow: hidden;
}
img.photo_thumbnail {
    width: 220px;
    min-height: 146px; /* make sure thumbnails are at least 146px tall, otherwise there will be empty space inside the <a>'s border */
}

.controls {
    text-align: center;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0; /* display below the image */
}
.controls > span {
}
.controls .back {
    text-align: left;
}
.controls a {
    position: relative;
    padding: 20px;
    opacity: 0.25;
    -webkit-transition: all 0.18s ease;
       -moz-transition: all 0.18s ease;
         -o-transition: all 0.18s ease;
            transition: all 0.18s ease;
}
.controls a:hover {
    opacity: 0.30;
}
.controls .back a {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
}
.controls .next {
    text-align: right;
}
.controls .next a {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
}
.controls .next a:active {
    right: -8px;
}
.controls .back a:active {
    left: -8px;
}

/**********************
 * head is the header *
 **********************/
#head {
    height: 29px;
    padding: 4px 0 2px;
    background-color: #000;
    width: 100%;
    text-align: center;
}

/************************************************************************
 * torso is the main block of content in between the head and foot. *
 ************************************************************************/
#torso {
    background-color: #{{ bg_color }};
    position: relative;
    text-align: center;
    border: 1px solid #{{ border_color }};      
    border-width: 1px 0 1px 0;
    overflow: hidden;
}
#torso #gallery {
    position: relative;
    z-index: 100;
    padding: 0;
    margin-bottom: 1.4em;
}
#torso #gallery a {
    width: 218px;
    margin-top: 1.22em;
}
#torso #debts {
    background-color: #000;
    padding: 2em;
    margin: 2em auto;
    width: 50%;
    -webkit-box-shadow: 0px  5px 40px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7);
       -moz-box-shadow: 0px  5px 40px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7);
         -o-box-shadow: 0px  5px 40px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7);
            box-shadow: 0px  5px 40px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7);
}
#torso #learn {
    padding: 2em;
    text-align: left;
}
#torso #debts {
    text-align: center;
}
#torso #debts p {
    margin-bottom: 1.6em;
}
#torso #debts a {
    padding: 8px;
    text-decoration: none;
    opacity: 0.7;
    -webkit-transition: opacity 0.1618s ease;
       -moz-transition: opacity 0.1618s ease;
         -o-transition: opacity 0.1618s ease;
            transition: opacity 0.1618s ease;
}
#torso #debts a:hover {
    opacity: 1.0;
}
#torso #debts a img:active {
    -webkit-transform: scale(0.95);
       -moz-transform: scale(0.95);
         -o-transform: scale(0.95);
            transform: scale(0.95);
}

/*************************
 * foot is the footer :| *
 *************************/
#foot {
    background-color: #000;
    width: 100%;
    padding-top: 25px;
    text-align: center;
    border-bottom: 1px solid #{{ border_color }};
    margin-bottom: 24px;
    z-index: 200;
    -webkit-box-shadow: 0px -5px 20px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7),
                        0px  5px 40px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7);
       -moz-box-shadow: 0px -5px 20px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7),
                        0px  5px 40px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7);
         -o-box-shadow: 0px -5px 20px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7),
                        0px  5px 40px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7);
            box-shadow: 0px -5px 20px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7),
                        0px  5px 40px rgba( {{ shadow_R }}, {{ shadow_G }}, {{ shadow_B }}, 0.7);
}
#foot #bottom_bar {
    margin-top: 36px;
    margin-bottom: 16px;
}
#foot #bottom_bar a {
    text-decoration: none;
    opacity: 0.5;
    -webkit-transition: opacity 0.1618s ease;
       -moz-transition: opacity 0.1618s ease;
         -o-transition: opacity 0.1618s ease;
            transition: opacity 0.1618s ease;
}
#foot #bottom_bar a:hover {
    opacity: 1.0;
}
#foot #bottom_bar a img {
    border: 0;
    vertical-align: top;
}
#foot #bottom_bar a img:active {
    -webkit-transform: scale(0.95);
       -moz-transform: scale(0.95);
         -o-transform: scale(0.95);
            transform: scale(0.95);
}
#foot #bottom_bar #feeds {
    text-align: left;
}
#foot #bottom_bar #copyright {
    text-align: right;
}
#foot #nav a {
    opacity: 0.5;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid #{{ border_color }};
    text-decoration: none;
    -webkit-transition: opacity 0.1618s ease;
       -moz-transition: opacity 0.1618s ease;
         -o-transition: opacity 0.1618s ease;
            transition: opacity 0.1618s ease;
}
#foot #nav a:hover {
    opacity: 1.0;
}

/* EOF: site.css */
